<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <title>고객이 끌리는 법칙!</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <script>

        $(document).ready(function () {
            $('#orders-box_tb').html('');
            listing();
        });

        function hey() {
            let name = $('#name').val();
            let ad = $('#ad option:selected').text();
            let budget = $('#budget option:selected').text();
            let email = $('#email').val();
            let number = $('#number').val();

            if (name == '') {
                alert('이름을 입력해주세요')
                return
            } else if (ad == '') {
                alert('광고를 선택해주세요')
                return
            } else if (budget == '') {
                alert('예산을 선택해주세요')
                return
            } else if (email == '') {
                alert('이메일을 적어주세요')
                return
            } else if (number == '') {
                alert('전화번호를 적어주세요')
                return
            }


            $.ajax({
                type: "POST",
                url: "/reviews",
                data: { name_give: name, ad_give: ad, budget_give: budget, email_give: email, number_give: number },
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            })
        }

        function listing() {
            // 1. 리뷰 목록을 서버에 요청하기
            // 2. 요청 성공 여부 확인하기
            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
            $.ajax({
                type: "GET",
                url: "/customer",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {

                        let client = response['client']
                        for (let i = 0; i < client.length; i++) {
                            let name = client[i]['name']
                            let ad = client[i]['ad']
                            let budget = client[i]['budget']
                            let email = client[i]['email']
                            let number = client[i]['number']

                            let temp_html = `<tr>
                                                <td>${name}</td>
                                                <td>${ad}</td>
                                                <td>${budget}</td>
                                                <td>${email}</td>
                                                <td>${number}</td>
                                            </tr>`
                            $('#orders-box').append(temp_html)

                        }

                    }
                }
            })
        }

    </script>

    <style>
        * {
            font-family: 'Jua', sans-serif;
        }

        .mytitle {
            background-color: gray;
            background-image: url('https://cdn.pixabay.com/photo/2016/03/01/07/42/arrows-1229845_1280.jpg');
            height: 300px;
            background-position: center;
            background-size: cover;
            border: 3px solid black;
            border-radius: 5px;
        }

        .warp {
            margin: auto;
            width: 550px;
        }

        .text {
            text-align: center;
            margin: 15px 15px 15px 15px;
            color: rgb(46, 41, 41)
        }

        .blog {
            color: rgb(30, 30, 189)
        }

        .button {
            margin: auto;
            width: 25%;
        }

        .list {
            margin-top: 25px;
        }
    </style>

</head>

<body>
    <div class="warp">
        <div class="mytitle">
            <!-- <h1>사진</h1> -->
        </div>

        <div class="text">
            <h1>추월차선 마케팅 기획!</h1>
            <h3>컨설팅 무료이벤트</h3>
            <a href="https://blog.naver.com/flycm1582">고객이 끌리는 법칙을 아는 "균형있는 마케팅 지도사" 입니다. 성공하는 마케팅 여정과 함께하기 이전, 공식
                'BLOG'를
                참조해 주세요</a>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이름</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="name">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">마케팅</button>
            </div>
            <select id="ad" class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                <option selected>선택하세요</option>
                <option value="1">검색광고</option>
                <option value="2">바이럴광고</option>
                <option value="3">디스플레이광고</option>
                <option value="4">리타겟팅광고</option>
                <option value="5">종합광고</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="button">예산을</button>
            </div>
            <select id="budget" class="custom-select" id="inputGroupSelect03"
                aria-label="Example select with button addon">
                <option selected>적어주세요</option>
                <option value="1">100만원이하</option>
                <option value="2">300만원이상</option>
                <option value="3">500만원이상</option>
                <option value="4">1000만원이상</option>
                <option value="5">3000만원이상</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">이메일</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="email">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">전화번호</span>
            </div>
            <input type="text" class="form-control" aria-label="Sizing example input"
                aria-describedby="inputGroup-sizing-default" id="number">
        </div>

        <div class="button">
            <button onclick="hey()" type="button" class="btn btn-primary">성공상담신청</button>
        </div>

        <div class="list">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">이름</th>
                        <th scope="col">마케팅</th>
                        <th scope="col">예산</th>
                        <th scope="col">이메일</th>
                        <th scope="col">전화번호</th>
                    </tr>
                </thead>
                <tbody id="orders-box">
                    
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>